// Variables

// Palette Colors
$blue: #00d2f9;
$black: #000;
$obsidian: #1a1a1a;
$wolf-gray: #242424;
$lead-gray: #333;
$basalt-gray: #4d4d4d;
$pencil-gray: #666;
$pepper-gray: #808080;
$nickel-gray: #999;
$granite-gray: #b4b4b4;
$concrete-gray: #ccc;
$soapstone-gray: #dadada;
$marble-gray: #e6e6e6;
$chalk: #f8f8f8;
$white: #fff;


// Font sizes
$font-size-smaller: 1rem;
$font-size-small: 1.1rem;
$font-size-base: 1.2rem;
$font-size-medium: 1.3rem;
$font-size-large: 1.4rem;
$font-size-xlarge: 1.6rem;
$font-size-xxlarge: 2rem;
$font-size-x3large: 2.6rem;
$font-size-x4large: 3rem;
$font-size-huge: 4rem;
$font-size-xhuge: 5.6rem;



// Font-weight
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Background Colors
$bg-black: #000;
$bg-soapstone-gray: #dadada;
$bg-marble-gray: #efefef;
$bg-white: #fff;

// Supporting Colors
$sky-blue: #00c1e5;
$scarlet: #ff4e00;
$green: #46a546;
$cerulean: #00a8cc;

// Phases bar colors
$blue-100: #e0f7fd;
$blue-200: #bfeefb;
$blue-300: #9adfef;
$blue-400: #80dff7;
$blue-500: #60d8f5;
$blue-600: #23caf2;

//Post Status
$red: #ff0000;

// Color
$text-color: $black;
$body-bg: $soapstone-gray;
$message-cell-bgColor: $chalk;

// Layout
$header-height: 7rem;
$sideNav-width: 6rem;


// Z-index list
$zindex-min: 10;
$zindex-mid: 100;
$zindex-max: 1000;
