// Typography
.txt-h0 {
  @include txt-h0();
}

.txt-ht {
  @include txt-ht();
}

.txt-h1 {
  @include txt-h1();
}

.txt-h2 {
  @include txt-h2();
}

.txt-h3 {
  @include txt-h3();
}

.txt-h4 {
  @include txt-h4();
}

.txt-l1 {
  @include txt-l1();
}

.txt-l1-sub {
  @include txt-l1();
  text-transform: none;
}

.txt-l2 {
  @include txt-l2();
}

.txt-l3 {
  @include txt-l3();
}

.txt-bd0 {
  @include txt-bd0();
}

.txt-bd1 {
  @include txt-bd1();
}

.txt-bd2 {
  @include txt-bd2();
}

.txt-bh {
  @include txt-bh();
}

.bg-dark {
  color: $pencil-gray;

  label {
    color: $pencil-gray;
  }
}
